* {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  padding: 0;
  margin: 0;
}

body{
  height: 100%;
  background-color: hsl(217, 100%, 97%);
}

@media screen and (max-width: 500px) {
  body {
    position: relative;
    width: 375px;
  }
}

main{
  height: 500px;
  width: 900px;
  background-color: white;
  border-radius: 15px;
  box-shadow: hsl(215, 5%, 90%) 0px 5px 15px;
  margin: 68px auto auto auto;
  padding-top: 1px;
}

@media screen and (max-width: 500px) {
  main {
    position: absolute;
    top: 15%;
    max-width: 340px;
    background-color: white;
    margin: 68px auto auto 18px;
  }
} 

#form-box {
  height: 480px;
  width: 780px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 500px) {
  #form-box {
    display: contents;
    padding: 3rem 2rem 2rem 2rem;
  }
}

.side-bar{
  width: 31%;
  background-image: url(assets/images/bg-sidebar-desktop.svg);
  background-size:  240px 479px;
  background-repeat: no-repeat;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;

}

@media screen and (max-width: 500px) {
  .side-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-image: url(./assets/images/bg-sidebar-mobile.svg);
    flex-direction: row;
    height: 155px;
    background-size: auto;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    z-index: -1;
    
  }
}


.step {
  display: flex;
}
.step.active .num-cir{
  background-color: hsl(197, 75%, 78%);
  color: hsl(213, 96%, 18%);
  border: none;
}
.num-cir{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 1px solid white;
  padding: 9px 0px 0px 14px;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  .num-cir {
    padding: 9px 0px 0px 13px;
  }
}

.step-info{
  color: white;
  margin-left: 15px;
}

@media screen and (max-width: 500px) {
  .step-info {
    display: none;
  }
}

.step p{
  font-size: 13px;
  color: hsl(229, 24%, 87%);
  margin: 0%;
}

.step h4{
  margin-top: 5px;
  font-size: 14px;
  letter-spacing: 1px;
}

.stp {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.stp .heading {
  margin-bottom: 20px;
  line-height: 40px;
}

@media screen and (max-width: 500px) {
  .stp .heading{
    padding-top: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    line-height: 1.5;
  }
}

.heading .title {
  color: hsl(213, 96%, 18%);
}

.heading .req-details {
  color: hsl(231, 11%, 63%);

}

/* -----------------------------------------------------Step 1-------------------------------------------------*/

.step-1 {
  display: flex;
  width: 57%;
}

@media screen and (max-width: 500px) {
  .step-1{ 
    width: 100%;
    padding: 30px;
  }
} 

.step-1 form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.field {
  color: hsl(213, 96%, 18%);;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}

.step-1 form input {
    padding: 12px;
    border: 1px solid hsl(231, 11%, 63%);
    border-radius: 7px;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
    color: hsl(213, 96%, 18%);
    cursor: pointer;
}

.step-1 form input:focus {
  outline-color: hsl(243, 100%, 62%);
}

form input::placeholder {
  font-weight: 400;
  font-size: 16px;
  font-family: inherit;
}

form .error {
  display: none;
  color: hsl(354, 84%, 57%);
  font-size: 14px;
  font-weight: 500;
}

.next {
  height: 40px;
  width: 100px;
  margin-top: 30px;
  margin-left: auto;
  border: none;
  text-align: center;
  border-radius: 7px;
  background-color: hsl(213, 96%, 18%);
  color: white;
  cursor: pointer;
  font-size: 14px;
}

@media screen and (max-width: 500px) {
  .step-1 button {
    margin: auto 0 auto auto;
    padding: 13px;
    /* position: relative;
    top: 80px; */
  }
}

/* -----------------------------------------------Step 2--------------------------------------------------*/
.step-2 {
  display: none;
  width: 57%;
}

@media screen and (max-width: 500px) {
  .step-2{ 
    width: 100%;
    padding: 30px;
  }
}

.step-2 form {
  display: flex;
  align-items: center;
  gap: 15px;
}

@media screen and (max-width: 500px) {
  .step-2 form {
    flex-direction: column;
  }
  .step-2 .heading{
    gap: 0rem;
    line-height: 1.3;
  }
}

.plan {
  width: 150px;
  height: 160px;  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border: 2px solid hsl(229, 24%, 87%);
  padding: 10px;
  border-radius: 7px;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .plan{
    width: 100%;
    height: 80px;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
  }
}

.plan-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.plan-details h4 {
  color: hsl(213, 96%, 18%);
}

.plan .price {
  color: hsl(231, 11%, 63%);
  margin-left: 0px;
}

.mn,
.yr {
  color: hsl(231, 11%, 63%);
  font-weight: 500;
}

.sw-active {
  color: hsl(213, 96%, 18%);
}


.toggle-switch {
  background-color: hsl(217, 100%, 97%);
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
  margin-bottom: 35px;
  justify-content: center;
  position: relative;
  top: 30px;
}

@media screen and (max-width: 500px) {
  .toggle-switch {
    margin: 2rem 0;
    position: relative;
    top: 0px;
    border-radius: 10px;
  }
}

.switch {
  width: 55px;
  height: 25px;
  display: inline-block;
  margin: 5px;
  position: relative;
  
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(213, 96%, 18%);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  cursor: pointer;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.free{
  display: none;
  color: hsl(213, 96%, 18%);
  font-size: smaller;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 500px) {
  .buttons {
    width: 375px;
    position: fixed;
    top: 590px;
    background-color: white;
    right: 0;
    left: 0;
    height: 100px;
    padding-inline: 1rem;
    position: fixed;
        padding-bottom: 29px;

  }
}

.back {
  height: 42px;
  width: 55px;
  margin-top: auto;
  background-color: transparent;
  border-radius: 7px;
  color: hsl(231, 11%, 63%);
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 450;
}

/* -----------------------------------Step 3------------------------------------------------ */

.step-3 {
  display: none;
  width: 57%;
}

@media screen and (max-width: 500px) {
  .step-3{ 
    width: 100%;
    padding: 30px;
  }
} 

.step-3 form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.addons {
  height: 70px;
  border: 1px solid hsl(231, 11%, 63%);
  border-radius: 12px;
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.add-on-details {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-left: 12px;
}

.ad-selected {
  border: 1px solid hsl(243, 100%, 62%);
  background-color: hsl(217, 100%, 97%);
}

.add-on-details label {
  color: hsl(213, 96%, 18%);
  font-weight: 600;
  font-size: 14px;
}

.add-on-details p {
  color: hsl(231, 11%, 63%);
  font-size: small;
  font-weight: 450;
}

.price {
  color: hsl(243, 100%, 62%);
  margin-left: auto;
}

/* ---------------------------------Step 4------------------------------------- */

.step-4 {
  display: none;
  width: 57%;
}

@media screen and (max-width: 500px) {
  .step-4{ 
    width: 100%;
    padding: 30px;
  }
} 

.summary-box {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.change{
  cursor: pointer;
}

.selected-options {
  background-color: hsl(217, 100%, 97%);
  padding: 15px;
  margin-bottom: 15px;
}

.selected-options a {
  color: hsl(231, 11%, 63%);
  position: relative;
  font-size: small;
  bottom: 12px;
  line-height: 2;
}

.selected {
  border: 2px solid hsl(243, 100%, 62%);
  background-color: hsl(217, 100%, 97%);
}

.plan-selected {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  color: hsl(213, 96%, 18%);
  font-weight: 600;
}

.sel-addons {
  display: none;
  flex-direction: column;
  margin-top: 10px;
  color: hsl(231, 11%, 63%);
  gap: 15px;

}

.online, .storage, .profile{
  display: none;
  justify-content: space-between;
}

.sel-add-price {
  color: hsl(213, 96%, 18%);
}

.total-bill {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: hsl(231, 11%, 63%);
  font-size: 14px;
  margin-bottom: 30px;
}

.total-bill span {
  color: hsl(243, 100%, 62%);
  font-size: 18px;
  font-weight: bold;
}

.step-4 .buttons .next{
  background-color: hsl(243, 100%, 62%);
}

/* -----------------------------step 5---------------------------------- */
.step-5 {
  display: none;
  align-items: center;
  width: 57%;
  text-align: center;
  justify-content: center;
  margin: 100px 0px 40px 40px;
  gap: 30px;
}

@media screen and (max-width: 500px) {
  .step-5{ 
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 30px;
  }
} 

.thanks-content {
  height: 125px;
  width: 440px;
  color: hsl(231, 11%, 63%);
  line-height: 1.5;
  margin-top: 15px;
}

@media screen and (max-width: 500px) {
  .thanks-content{ 
    width: 295px;
    height: 149px;
    margin: 0%;
  }
} 
